
* {
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

body {
  width: auto;
  margin: auto;
}

.desktop-nav {
  display: none;
}

.overlay {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 95vh;
  width: 0;
  position: fixed;
  overflow-x: hidden;
  z-index: 1;
  margin: 0;
  left: 0;
  top: 0;
  border-radius: 0 0 60px 60px;
  box-shadow: 0 48px 48px rgb(37 47 137 / 8%);
  transition: 1s;
}

.overlay-content {
  display: none;
  padding: 15px 20px;
  width: 30%;
  list-style: none;
  margin: 30px 0;
  align-self: flex-start;
}

.overlay .close-btn {
  font-size: 25px;
  padding: 0 20px;
  margin: 30px 10px 30px 0;
}

.overlay li {
  font-size: 32px;
  margin-bottom: 20px;
  color: #3a4a42;
  
  
  font-weight: 600;
  line-height: 44px;
}

a {
  color: inherit;
  text-decoration: none;
}

.mobile-nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  
  
  font-weight: 500;
  align-items: center;
  color: #28352f;
}

.menu-icon {
  font-size: 20px;
  padding-right: 8px;
  margin-right: 24px;
}

.welcome {
  padding: 10px 12px;
  
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #28352f;
  margin-left: 12px;
}

.headline {
  background: url("assets/images/header-illsutration-mobile.svg");
  background-size: auto;
  background-position: top center;
  background-repeat: no-repeat;
  padding: 64px 24px;
  display: flex;
  row-gap: 40px;
  flex-direction: column;
}

.headline h1 {
  
font-weight: 700;
  
font-size: 40px;
  
line-height: 52px;
  
text-align: center;
  
color: #172b4d;
  
margin: 0;
}

.headline p {
  
font-weight: 500;
  
font-size: 20px;
  
line-height: 32px;
  
text-align: center;
  
color: #172b4d;
  
margin: 0;
}

.headline span {
  color: #36b37f;
}

.socials {
  
font-weight: 500;
  
color: #505f79;
}

.socials ul {
  height: 20px;
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 20px;
  padding: 0;
  margin: 0;
  align-items: center;
}

.socials li {
  padding: 10px;
}

.arrow {
  height: 48px;
  text-align: center;
}

.recent-works {
  display: grid;
  grid-template-rows: auto auto auto auto;
  justify-items: center;
  row-gap: 40px;
  padding: 64px 24px;
}

.title {
  height: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 22px;
}

.title h2 {
  
font-weight: 700;
  
font-size: 40px;
  
line-height: 52px;
  
/* height: 97px; */
  
text-align: center;
  
color: #172b4d;
  
margin: 0;
}

.recent-works-cards {
  margin: 0;
  padding: 4px 2px;
  height: 2972px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.works {
  background: #ebeff4;
  height: 474px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.work-details {
  display: grid;
  grid-template-rows: 33.33% 33.33% 33.33%;
  height: 222px;
  background: #fff;
  border-radius: 8px;
  align-content: space-between;
  align-items: center;
  justify-items: center;
}

.work-details h3 {
  margin: 12px 0 0 !important;
  
  
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #3a4a42;
  padding: 0 10px;
}

.language-tags {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 11px;
  padding: 0;
}

.language-tags li {
  list-style: none;
  
  
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  padding: 8px;
  background: #ebeff4;
  border-radius: 4px;
}

.works-button {
  padding: 12px;
  background: #1e488f;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #fff;
  transition: background-color 500ms ease-in;
  transition: border-radius 500ms ease-out;
  justify-content: center;
}

.works-button:hover {
  box-shadow: 0 8px 16px rgb(30 72 143 / 24%);
  text-align: center;
  background-color: #36b37e;
  border-radius: 20px;
}

.works-button:active {
  background: #0a2759;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
}

.about-me-text {
  background-image: url("assets/images/illustration-1-about-me-mobile.svg"), url("assets/images/illustration-2-about-me-mobile.svg");
  background-position: right top, left bottom;
  background-repeat: no-repeat, no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  height: 380px;
  justify-content: flex-end;
  margin-bottom: 59px;
}

.about-me-title {
  
  
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin-bottom: 24px;
}

.about-me-p {
  
  
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  margin: 0 0 24px;
}

.about-me-button {
  padding: 12px;
  width: 135px;
  height: 24px;
  margin: 0;
  background: #1e488f;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  
  
  font-weight: 500;
  font-size: 17px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #fff;
  transition: background-color 500ms ease-in;
  transition: border-radius 500ms ease-out;
  justify-content: center;
}

.about-me-button:hover {
  box-shadow: 0 8px 16px rgb(30 72 143 / 24%);
  background-color: #36b37e;
  border-radius: 20px;
}

.about-me-button:active {
  background: #0a2759;
}

.about-me-card {
  padding: 1px;
  height: 1106px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-img {
  text-align: center;
}

.card {
  height: 352px;
  background: #ebeff4;
  display: grid;
  grid-template-rows: auto auto;
  align-content: space-evenly;
  border-radius: 8px;
  margin-top: 24px;
}

.card-details {
  display: grid;
  align-content: space-between;
  align-items: center;
  justify-items: center;
}

.card-details p {
  
  
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
  margin: 0;
}

.card-details ul {
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: 24px;
  flex-wrap: wrap;
  width: 100%;
  margin-right: 12px;
  margin-left: 12px;
  justify-content: center;
}

.card-details li {
  list-style: none;
  
  
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #1e488f;
  padding: 12px;
  border-radius: 8px;
  background: #fff;
  text-align: center;
  margin-bottom: 8px;
  margin-right: 8px;
}

.form {
  background-image: url("assets/images/illustration-contact-form.svg");
  background-position: right bottom;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 64px 24px;
}

.form h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  padding: 0;
  height: 363px;
  margin: 0;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  height: 330px;
  margin-top: 58px;
}

.form-inputs li {
  list-style: none;
  margin-top: 24px;
  width: 100%;
  
  
  font-weight: 400;
}

input {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #d0d9d4;
  background: #fff;
  border-radius: 4px;
  font-size: 15px;
  line-height: 24px;
  padding: 15px 16px;
  height: 48px;
}

.form textarea {
  width: 100%;
  height: 114px;
  background: #fff;
  border: 1px solid #1e488f;
  box-sizing: border-box;
  border-radius: 4px;
  
  
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding: 12px;
}

.form .button {
  width: 129px;
}

.form button {
  padding: 12px;
  background: #1e488f;
  border-radius: 4px;
  text-align: center;
  border: none;
  
  
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  transition: background-color 500ms ease-in;
  transition: border-radius 500ms ease-out;
}

.form button:hover {
  box-shadow: 0 8px 16px rgb(30 72 143 / 24%);
  background-color: #36b37e;
  border-radius: 20px;
}

.form button:active {
  background: #0a2759;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;
}

.footer-socials {
  width: 170.17px;
  height: 20px;
}

.footer-socials ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #505f79;
  height: 20px;
  padding: 0;
  margin: 0;
}

.footer-socials li {
  padding: 10px;
}

.footer-email {
  text-align: center;
  
  
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
  margin-top: 20px;
}

/* popup for project cards mobile*/

.lang-tags, .button-items { 
  display: flex;
}

.pop-up-overlay {
  left: 0;
  overflow: auto !important;
  display: block;
  right: 0;
  height: 90vh;
  width: 80%;
  top: 2%;
  margin: auto;
  position: fixed;
  z-index: 1;
  overflow: hidden;
  align-items: flex-end;
  flex-direction: column;
  padding: 10px;
  border-radius: 16px;
  background: #fff;
}

.pop-up-overlay::-webkit-scrollbar {width: 0 !important;}

.close {
  position: absolute;
  right: 7%;
  top: 3%;
}

.pop-up-overlay-image {
  width: 100%;
}

.pop-up-overlay-content {
  display: flex;
  flex-direction: column;
}

.pop-up-overlay-content a {
  color: #fff;
  text-decoration: none;
}

.pop-up-overlay-content h2 {
  font-weight: 600;
  font-size: 32px;
  margin: 0;
  line-height: 44px;
  color: #172b4d;
}

.pop-up-overlay-content p {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  color: #344563;
}

.lang-tags {
  list-style: none;
  padding: 0;
  gap: 7px;
}

.lang-tags li{
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  padding: 8px;
  background: #ebeff4;
  border-radius: 4px;
}

.buttons-container {
  order: 1;
}

.button-items {
  list-style: none;
  padding: 0;
  justify-content: space-between;
}

.button-items li {
  font-size: 17px;
  line-height: 24px;
  padding: 10px 20px;
  background: #36b37f;
  border-radius: 4px;
}



@media screen and (min-width: 992px) {
  body {
    
    
    height: 3650px;
    margin: 0;
  }
  
  .close-btn,
  .overlay,
  .mobile-nav {
    display: none;
  }
  
  header {
    height: 900px;
    background: url("assets/images/Header-llustration-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 0 0;
  }
  
  .wrapper {
    background:
    url("assets/images/right-about-me.svg"),
    url("assets/images/left-about-me.svg"),
    url("assets/images/illustration-1-contact-form-desktop.svg"),
    url("assets/images/illustration-2-contact-form-desktop.svg"),
    url("assets/images/illustratoin-3-contact-form-desktop.svg");
    background-repeat: no-repeat;
    background-position:
    top 2200px right 0,
    top 2390px left -50px,
    bottom 72.49px left 0,
    bottom 120px left 274px,
    bottom 60px right 0;
  }
  
  .navigation {
    display: flex;
    justify-content: center;
  }
  
  .desktop-nav {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    column-gap: 20px;
    padding: 0;
    font-weight: 500;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    align-items: center;
    color: #344563;
  }
  
  .desktop-nav li {
    padding-bottom: 5px;
    font-size: 17px;
    letter-spacing: 1px;
    transition: font-size 1s ease-out;
  }
  
  .desktop-nav li:hover {
    font-size: 25px;
    border-bottom: 2px solid #36b37f;
  }
  
  a {
    text-decoration: none;
  }
  
  .headline {
    background: none;
    display: flex;
    width: 60%;
    row-gap: 20px;
    margin: auto;
    padding: 160px 0;
  }
  
  .headline h1 {
    overflow: hidden;
    height: 114px;
    font-weight: 800;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 3s steps(200, end);
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    
    to {
      width: 100%;
    }
  }
  
  .headline p {
    height: 96px;
    margin: 0;
  }
  
  .socials {
  }
  
  .arrow {
    display: flex;
    height: 114px;
    justify-content: center;
    align-items: flex-end;
  }
  
  .bar {
    display: none;
  }
  
  .recent-works {
    height: 1084px;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 80px 0;
  }
  
  .title,
  .title h2 {
    display: block;
    width: 447px;
    height: 48px;
    margin: auto;
  }
  
  .recent-works-cards {
    height: 988px;
    width: 100%;
    margin: 52px auto 0;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 32px;
    column-gap: 24px;
  }
  
  .work-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .work-details h3 {
    padding: 0;
    margin: 0 !important;
    height: 57px;
  }
  
  .work-details a {
    margin: 0;
  }
  
  .language-tags {
    height: 32px;
    margin: 0;
  }
  
  .about-me {
    width: 90%;
    margin: 112px auto 0;
    padding: 0;
    height: 700px;
    justify-content: space-between;
  }
  
  .about-me-text {
    width: 70%;
    margin: 0 auto;
    background: none;
    height: 300px;
    justify-content: space-between;
  }
  
  .about-me-text h4 {
    margin: 0;
  }
  
  .about-me-text p {
    height: 96px;
    margin: 0;
  }
  
  .about-me-card {
    height: 352px;
    padding: 4px 8px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
  }
  
  .card {
    margin: 0;
    display: grid;
    grid-template-rows: 128px 144px;
    justify-content: space-evenly;
  }
  
  .card-img img {
    display: none;
  }
  
  .lang {
    background: url("assets/images/lang-icon.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .framework {
    background: url("assets/images/framework-icon.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .skills {
    background: url("assets/images/skills-icon.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .card-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card-details ul {
    margin: 24px 0 0;
  }
  
  .card-tags {
    margin: 24px 0;
  }
  
  .form {
    margin: auto auto 142px;
    width: 90%;
    display: grid;
    grid-template-columns: 40% 60%;
    column-gap: 24px;
    height: 330px;
    padding: 80px 0;
    background: none;
    align-items: center;
  }
  
  .form h3 {
    height: 256px;
    font-size: 26px;
    line-height: 45px;
    text-align: left;
    display: flex;
    align-items: center;
  }
  
  form {
    height: 330px;
  }
  
  .form-inputs {
    display: block;
  }
  
  input {
    width: 85%;
  }
  
  .form textarea {
    width: 85%;
  }
  
  footer {
    height: 60px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #dfe1e6;
    border-bottom: 1px solid #dfe1e6;
  }
  
  .footer-email {
    display: none;
  }
  
  /* Popup for project cards desktop*/
}
