body {
  width: auto;
  margin: 0;
  height: 100vh;
}

a {
  color: inherit;
}

.menu-nav {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  height: 50px;
  font-size: 30px;
  margin-top: 48px;
}

.menu-nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  align-items: center;
  color: #28352f;
}

.menu-icon {
  font-size: 30px;
  padding-right: 50px;
}

.greeting {
  padding-left: 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #28352f;
}

.headline {
  background: url("assets/images/header-illsutration-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 24px;
  padding-right: 24px;
}

.intro h1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

.intro p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
}

.intro span {
  color: #36b37f;
}

.socials ul {
  display: flex;
  justify-content: center;
  list-style: none;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #505f79;
  border-top: 34px;
  height: 20px;
  padding: 0;
  margin-bottom: 62px;
}

.socials li {
  padding: 10px 10px 10px 10px;
}

.recent-works {
  display: grid;
  grid-template-rows: auto auto auto auto;
  justify-items: center;
  padding: 0 24px 0 24px;
}

.arrow {
  height: 40px;
  width: 40px;
  text-align: center;
}

.title {
  margin-right: 26px;
  margin-left: 26px;
}

.title h1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  height: 97px;
  text-align: center;
  color: #172b4d;
  margin-top: 22px;
  margin-bottom: 24px;
}

.bar {
  background: url("assets/images/Indicator.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 24px;
  text-align: center;
  height: 4px;
  width: 48px;
}

.recent-works-cards {
  margin: 58px 0 0 0;
  padding: 4px 2px;
  height: 2972px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.works {
  background: #ebf0ee;
  height: 474px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.work-details {
  display: grid;
  grid-template-rows: 33.33% 33.33% 33.33%;
  height: 222px;
  background: #fff;
  border-radius: 8px;
  align-content: space-between;
  align-items: center;
  justify-items: center;
}

.work-details h1 {
  margin: 12px 0 0 0 !important;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #3a4a42;
  padding: 0 10px;
}

.language-tags {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 11px;
  padding: 0;
}

.language-tags li {
  list-style: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  padding: 8px 8px;
  background: #ebf0ee;
  border-radius: 4px;
}

.works-button {
  padding: 12px;
  width: 98px;
  height: 24px;
  margin-bottom: 20px;
  background: #36b37f;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #fff;
}

.works-button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.works-button:active {
  background: #008552;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px;
}

.about-me-text {
  background-image:
url("assets/images/illustration-1-about-me-mobile.svg"), 
url("assets/images/illustration-2-about-me-mobile.svg");
  background-position: right top, left bottom;
  background-repeat: no-repeat, no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  height: 380px;
  justify-content: flex-end;
  margin-bottom: 59px;
}

.about-me-title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin-bottom: 24px;
}

.about-me-p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  margin: 0 0 24px 0;
}

.about-me-button {
  padding: 12px;
  width: 135px;
  height: 24px;
  margin: 0;
  background: #36b37f;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #fff;
}

.about-me-button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.about-me-button:active {
  background: #008552;
}

.about-me-card {
  padding: 1px;
  height: 1106px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.card-img {
  text-align: center;
}

.card {
  height: 352px;
  background: #ebf0ee;
  display: grid;
  grid-template-rows: auto auto;
  align-content: space-evenly;
  border-radius: 8px;
  width: 100%;
}

.card-details {
  display: grid;
  align-content: space-between;
  align-items: center;
  justify-items: center;
}

.card-details p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
  margin: 0;
}

.card-details ul {
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: 24px;
  flex-wrap: wrap;
  width: 100%;
  margin-right: 12px;
  margin-left: 12px;
  justify-content: center;
}

.card-details li {
  list-style: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  padding: 12px;
  border-radius: 8px;
  background: #fff;
  text-align: center;
  margin-bottom: 8px;
  margin-right: 8px;
}

.form {
  background-image: url("assets/images/illustration-contact-form.svg");
  background-position: right bottom;
  background-repeat: no-repeat;
}

.form h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-inputs {
  padding-left: 0;
  width: 70%;
}

.form-inputs li {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 24px;
}

input {
  width: 100%;
  height: 48px;
  background: #fff;
  border: 1px solid #d0d9d4;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  padding: 15px 16px;
}

.form textarea {
  width: 100%;
  height: 114px;
  background: #fff;
  border: 1px solid #60c095;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  padding: 12px;
}

.form button {
  padding: 12px;
  background: #36b37f;
  border-radius: 4px;
  text-align: center;
  border: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
}

.form button:hover { box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24); }

.form button:active { background: #008552; }

footer h4 {
  height: 189px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
  margin-bottom: 147px;
}
